In [69]:
from prettytable import PrettyTable, DOUBLE_BORDER
tabela = PrettyTable()

In [128]:
import prettytable
tabela = prettytable.PrettyTable()
nome = str(input("Nome: "))
idade = int(input("Idade: "))
sexo = str(input("Sexo: "))
dia = int(input("Dia que nasceu: "))
mes = int(input("Mês que nasceu: "))
ano = int(input("Ano que nasceu: "))
nome1 = str(input("Nome: "))
idade1 = int(input("Idade: "))
sexo1 = str(input("Sexo: "))
dia1 = int(input("Dia que nasceu: "))
mes1 = int(input("Mês que nasceu: "))
ano1 = int(input("Ano que nasceu: "))
nome2 = str(input("Nome: "))
idade2 = int(input("Idade: "))
sexo2 = str(input("Sexo: "))
dia2 = int(input("Dia que nasceu: "))
mes2 = int(input("Mês que nasceu: "))
ano2 = int(input("Ano que nasceu: "))
nome3 = str(input("Nome: "))
idade3 = int(input("Idade: "))
sexo3 = str(input("Sexo: "))
dia3 = int(input("Dia que nasceu: "))
mes3 = int(input("Mês que nasceu: "))
ano3 = int(input("Ano que nasceu: "))
tabela = prettytable.PrettyTable()
tabela.field_names = [ "Nome" , "Idade" , "Sexo" , "Dia" , "Mês", "Ano"]
tabela.add_rows (
    [
        [ nome , idade , sexo, dia , mes, ano ] ,
        [ nome1 , idade1 , sexo1, dia1 , mes1, ano1 ] , 
        [ nome2 , idade2 , sexo2, dia2 , mes2, ano2 ] ,
        [ nome3 , idade3 , sexo3, dia3 , mes3, ano3 ]
    ]
)

Nome: Marcos
Idade: 15
Sexo: Masculino
Dia que nasceu: 30
Mês que nasceu: 03
Ano que nasceu: 20017
Nome: Kamila
Idade: 16
Sexo: Feminino
Dia que nasceu: 02
Mês que nasceu: 01
Ano que nasceu: 2006
Nome: Maju
Idade: 15
Sexo: Feminino
Dia que nasceu: 08
Mês que nasceu: 03
Ano que nasceu: 2007
Nome: Matheus
Idade: 16
Sexo: Masculino
Dia que nasceu: 24
Mês que nasceu: 06
Ano que nasceu: 2006

In [129]:
tabela.set_style(prettytable.DOUBLE_BORDER)
print(tabela)

╔═════════╦═══════╦═══════════╦═════╦═════╦═══════╗
║   Nome  ║ Idade ║    Sexo   ║ Dia ║ Mês ║  Ano  ║
╠═════════╬═══════╬═══════════╬═════╬═════╬═══════╣
║  Marcos ║   15  ║ Masculino ║  30 ║  3  ║ 20017 ║
║  Kamila ║   16  ║  Feminino ║  2  ║  1  ║  2006 ║
║   Maju  ║   15  ║  Feminino ║  8  ║  3  ║  2007 ║
║ Matheus ║   16  ║ Masculino ║  24 ║  6  ║  2006 ║
╚═════════╩═══════╩═══════════╩═════╩═════╩═══════╝

In [130]:
print(tabela)

╔═════════╦═══════╦═══════════╦═════╦═════╦═══════╗
║   Nome  ║ Idade ║    Sexo   ║ Dia ║ Mês ║  Ano  ║
╠═════════╬═══════╬═══════════╬═════╬═════╬═══════╣
║  Marcos ║   15  ║ Masculino ║  30 ║  3  ║ 20017 ║
║  Kamila ║   16  ║  Feminino ║  2  ║  1  ║  2006 ║
║   Maju  ║   15  ║  Feminino ║  8  ║  3  ║  2007 ║
║ Matheus ║   16  ║ Masculino ║  24 ║  6  ║  2006 ║
╚═════════╩═══════╩═══════════╩═════╩═════╩═══════╝